
/* 
    Document   : controlStyle2
*/

.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(102, 255, 51);
    -fx-background: rgb(255, 0, 204);
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(255, 0, 204);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.borders{
    -fx-border-color: rgb(255,255,0);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}
